.sign
  .sign__title
    %h2 Sign up
  .sign__form
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .sign__form__nickname
        = f.label :nickname
        %br
        = f.text_field :nickname, autofocus: true, placeholder: "Please enter your Nickname.", class: "sign__form__area"
      .sign__form__email
        = f.label :email
        %br
        = f.email_field :email, autocomplete: "email", placeholder: "Please enter your email address.", class: "sign__form__area"
      .sign__form__password
        = f.label :password
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} characters minimum)
        %br
        = f.password_field :password, autocomplete: "new-password", placeholder: "Please enter your original password.", class: "sign__form__area"
      .sign__form__password-confirmation
        = f.label :password_confirmation
        %br
        = f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"Please enter your original password_Confirmation.", class: "sign__form__area"
      .actions
        = f.submit "Sign up", class: "sign__form__submit"
