= form_for @post, html: { class: "form__main__area"} do |f|
  = f.label :タイトルを入力してください（任意）
  %br
  = f.text_field :title, placeholder: "タイトルを入力してください", class: "form__main__area__title"
  %br
  = f.label :文章を入力してください（任意）
  %br
  = f.text_area :content, placeholder: "よろしければ釣り方や場所の詳細、感想等を入力してください", class: "form__main__area__content"
  %br
  =f.label :投稿する写真を1枚選択してください（必須）
  %br
  %br
  = f.file_field :image, class:"form__main__area__image"
  %br
  = f.label :見かけた魚種（任意）
  %br
  = f.check_box :tag_list, {multiple: true}, "アイゴ", nil
  = f.label :アイゴ
  = f.check_box :tag_list, {multiple: true}, "アイナメ", nil
  = f. label :アイナメ
  = f.check_box :tag_list, {multiple: true}, "アオリイカ", nil
  = f. label :アオリイカ
  = f.check_box :tag_list, {multiple: true}, "アコウ", nil
  = f. label :アコウ
  = f.check_box :tag_list, {multiple: true}, "アジ", nil
  = f. label :アジ
  = f.check_box :tag_list, {multiple: true}, "アナゴ", nil
  = f. label :アナゴ
  = f.check_box :tag_list, {multiple: true}, "アナハゼ", nil
  = f. label :アナハゼ
  = f.check_box :tag_list, {multiple: true}, "アマゴ", nil
  = f. label :アマゴ
  = f.check_box :tag_list, {multiple: true}, "アメフラシ", nil
  = f. label :アメフラシ
  = f.check_box :tag_list, {multiple: true}, "アユ", nil
  = f. label :アユ
  = f.check_box :tag_list, {multiple: true}, "イイダコ", nil
  = f. label :イイダコ
  = f.check_box :tag_list, {multiple: true}, "イサキ", nil
  = f. label :イサキ
  = f.check_box :tag_list, {multiple: true}, "イシダイ", nil
  = f.label :イシダイ
  = f.check_box :tag_list, {multiple: true}, "イワシ", nil
  = f. label :イワシ
  = f.check_box :tag_list, {multiple: true}, "イワナ", nil
  = f. label :イワナ
  = f.check_box :tag_list, {multiple: true}, "ウナギ", nil
  = f. label :ウナギ
  = f.check_box :tag_list, {multiple: true}, "ウマズラ", nil
  = f. label :ウマズラ
  = f.check_box :tag_list, {multiple: true}, "エソ", nil
  = f. label :エソ
  = f.check_box :tag_list, {multiple: true}, "オニオコゼ", nil
  = f. label :オニオコゼ
  = f.check_box :tag_list, {multiple: true}, "ガシラ", nil
  = f. label :ガシラ
  = f.check_box :tag_list, {multiple: true}, "カツオ", nil
  = f. label :カツオ
  = f.check_box :tag_list, {multiple: true}, "ガッチョ", nil
  = f. label :ガッチョ
  = f.check_box :tag_list, {multiple: true}, "カマス", nil
  = f. label :カマス
  = f.check_box :tag_list, {multiple: true}, "カレイ", nil
  = f.label :カレイ
  = f.check_box :tag_list, {multiple: true}, "カワハギ", nil
  = f. label :カワハギ
  = f.check_box :tag_list, {multiple: true}, "カンパチ", nil
  = f. label :カンパチ
  = f.check_box :tag_list, {multiple: true}, "キス", nil
  = f. label :キス
  = f.check_box :tag_list, {multiple: true}, "キビレ", nil
  = f. label :キビレ
  = f.check_box :tag_list, {multiple: true}, "クエ", nil
  = f. label :クエ
  = f.check_box :tag_list, {multiple: true}, "グレ", nil
  = f. label :グレ
  = f.check_box :tag_list, {multiple: true}, "ケンサキイカ", nil
  = f. label :ケンサキイカ
  = f.check_box :tag_list, {multiple: true}, "コイ", nil
  = f. label :コイ
  = f.check_box :tag_list, {multiple: true}, "コウイカ", nil
  = f. label :コウイカ
  = f.check_box :tag_list, {multiple: true}, "サバ", nil
  = f. label :サバ
  = f.check_box :tag_list, {multiple: true}, "サヨリ", nil
  = f. label :サヨリ
  = f.check_box :tag_list, {multiple: true}, "サワラ（サゴシ）", nil
  = f. label :サワラ（サゴシ）
  = f.check_box :tag_list, {multiple: true}, "シイラ", nil
  = f. label :シイラ
  = f.check_box :tag_list, {multiple: true}, "シマアジ", nil
  = f. label :シマアジ
  = f.check_box :tag_list, {multiple: true}, "スズキ（セイゴ・ハネ）", nil
  = f. label :スズキ（セイゴ・ハネ）
  = f.check_box :tag_list, {multiple: true}, "スルメイカ", nil
  = f. label :スルメイカ
  = f.check_box :tag_list, {multiple: true}, "ソイ", nil
  = f. label :ソイ
  = f.check_box :tag_list, {multiple: true}, "タチウオ", nil
  = f. label :タチウオ
  = f.check_box :tag_list, {multiple: true}, "チヌ", nil
  = f. label :チヌ
  = f.check_box :tag_list, {multiple: true}, "ニジマス", nil
  = f. label :ニジマス
  = f.check_box :tag_list, {multiple: true}, "ハゼ", nil
  = f. label :ハゼ
  = f.check_box :tag_list, {multiple: true}, "ハマチ", nil
  = f. label :ハマチ
  = f.check_box :tag_list, {multiple: true}, "ヒイカ", nil
  = f. label :ヒイカ
  = f.check_box :tag_list, {multiple: true}, "ヒラマサ", nil
  = f. label :ヒラマサ
  = f.check_box :tag_list, {multiple: true}, "ヒラメ", nil
  = f. label :ヒラメ
  = f.check_box :tag_list, {multiple: true}, "ベラ", nil
  = f. label :ベラ
  = f.check_box :tag_list, {multiple: true}, "ブラックバス", nil
  = f. label :ブラックバス
  = f.check_box :tag_list, {multiple: true}, "ブリ", nil
  = f. label :ブリ
  = f.check_box :tag_list, {multiple: true}, "ホウボウ ", nil
  = f. label :ホウボウ 
  = f.check_box :tag_list, {multiple: true}, "マゴチ", nil
  = f. label :マゴチ
  = f.check_box :tag_list, {multiple: true}, "マグロ", nil
  = f. label :マグロ
  = f.check_box :tag_list, {multiple: true}, "真鯛", nil
  = f. label :真鯛
  = f.check_box :tag_list, {multiple: true}, "マダコ", nil
  = f. label :マダコ
  = f.check_box :tag_list, {multiple: true}, "マトウダイ", nil
  = f. label :マトウダイ
  = f.check_box :tag_list, {multiple: true}, "ミズダコ", nil
  = f. label :ミズダコ
  = f.check_box :tag_list, {multiple: true}, "メジロ", nil
  = f. label :メジロ
  = f.check_box :tag_list, {multiple: true}, "メッキ", nil
  = f. label :メッキ
  = f.check_box :tag_list, {multiple: true}, "メバル", nil
  = f. label :メバル
  = f.check_box :tag_list, {multiple: true}, "ヤマメ", nil
  = f. label :ヤマメ
  = f.check_box :tag_list, {multiple: true}, "ヤリイカ", nil
  = f. label :ヤリイカ
  = f.check_box :tag_list, {multiple: true}, "雷魚", nil
  = f. label :雷魚
  = f.check_box :tag_list, {multiple: true}, "ワカサギ", nil
  = f. label :ワカサギ
  -# = f.label :user, :tag_list 
  -# = f.text_field :tag_list
  %br
  %br
  = f.label :エリアを選択してください（必須）
  %br
  = f.select :area, [["未選択", "未選択"], ["大阪市内", "大阪市内"], ["泉北エリア", "泉北エリア"], ["泉南エリア", "泉南エリア"], ["和歌山市内・海南エリア", "和歌山市内・海南エリア"], ["中紀エリア", "中紀エリア"], ["南紀エリア", "南紀エリア"], ["阪神エリア", "阪神エリア"], ["神戸市内", "神戸市内"], ["東播磨エリア", "東播磨エリア"], ["中播磨エリア", "中播磨エリア"], ["西播磨エリア", "西播磨エリア"], ["淡路島", "淡路島"], ["徳島県", "徳島県"], ["豊岡エリア", "豊岡エリア"], ["香美エリア", "香美エリア"], ["新温泉エリア", "新温泉エリア"],  ["鳥取県", "鳥取県"],["舞鶴エリア", "舞鶴エリア"], ["宮津エリア", "宮津エリア"], ["伊根エリア", "伊根エリア"], ["京丹後エリア", "京丹後エリア"], ["福井県", "福井県"],  ["東紀州エリア", "東紀州エリア"], ["伊勢志摩エリア", "伊勢志摩エリア"], ["中勢エリア", "中勢エリア"], ["北勢エリア", "北勢エリア"], ["船釣り", "船釣り"], ["釣り堀", "釣り堀"], ["バス釣り", "バス釣り"], ["渓流釣り", "渓流釣り"], ["その他", "その他"]]
  %br
  = f.label :自己満足度を3段階で評価してください（必須）
  %br
  = f.radio_button :rank, "低", class: "form__main__area__radio" 
  低
  = f.radio_button :rank, "中", class: "form__main__area__radio" 
  中
  = f.radio_button :rank, "高", class: "form__main__area__radio" 
  高
  %br
  = f.submit "SEND", class: "form__main__area__send"