%h1 アジングの基礎知識
.h1img
  = image_tag src= "/assets/ajing.jpeg", size: "700x400", alt: "画像が見つかりません", class: "h1img__image"
%h2 アジングとは
%h3 アジをジグやソフトルアーで釣ること。
.explain
  .explain__area
    %p アジをエサで釣る場合、オキアミやイソメといった生きた餌や、コマセなどの寄せ餌を使ったりする。しかし、ルアーを使用したアジングは、ワームと呼ばれるイソメ風の柔らかいソフトルアーをジグヘッド（オモリとハリが付いたもの）へ付けるだけでOK！
    %p 生き餌を準備する必要もなく、手が汚れる心配もないのがメリットだ。また、海のルアーフィッシングの中でも装備も少なく、足場の良い堤防などで手軽に始めることができるビギナーにこそおすすめの釣りです。
  .explain__img
    = image_tag src= "/assets/ajing1.jpg", size: "250x160", alt: "画像が見つかりません", class: "explain__img__photo"
%h2 アジの習性と生態
.explain
  .explain__area
    %p アジがエサとしているのは、アミなどのプランクトン、イソメやゴカイなどの多毛類、小型のエビやカニなどの甲殻類、それにイワシの幼魚といった小魚。それらのエサを求めて日中は沖を回遊したり深場にいることも多い。しかし、夜になると常夜灯が照りつけて明るい漁港や堤防近くにエサが集まりやすく、そのエサを狙ってアジも回遊するため夜は岸から釣れやすくなっている。
    %p しかし、満月の夜は周囲も明るくなってしまうため、常夜灯の効果が薄くなってしまうので釣れにくいといわれている。
  .explain__img
    = image_tag src= "/assets/ajing2.jpg", size: "250x160", alt: "画像が見つかりません", class: "explain__img__photo"

%h2 アジングのシーズン
%h3 冬のイメージが強いアジングシーズン
.explain
  .explain__eging
    %p 寒い時期でも楽しめる釣りとして メバリングが誕生し、 一緒に釣れるアジを専門で狙おうと 発展してきた背景があるので 冬のイメージが先行しています。 
    %p 地域によっては1年を通して楽しめる釣りで 秋から冬はハイシーズンです。 大型が狙えるので冬は特に楽しめるシーズン、 イメージ通り冬の釣りと言えるかも知れません。
.season
  .season__spring
    .season__spring__logo
      %p 春
    %p 春先は初心者の方でも楽しめる時期で 晩春は釣りにくくなる。
  .season__summer
    .season__summer__logo
      %p 夏
    %p 型は小さいながら釣りやすいシーズン。
  .season__fall
    .season__fall__logo
      %p 秋
    %p 秋はアジングのハイシーズン！
  .season__winter
    .season__winter__logo
      %p 冬
    %p 冬のアジングは難易度、ゲーム性が非常に高く小型は反応が薄くなるので 大型が釣りやすい時期。

%h2 アジングの釣り場
.explain
  .explain__area
    %h4 常夜灯
    %p アジングポイントの基本となるのは 港の出入り口付近にある常夜灯です。 水面が明るくなっている場所はチャンスがあります。 潮の流れの関係でプランクトンが 溜まりにくいポイントもあるので、 初心者の方はまず釣れる港の情報を仕入れて 常夜灯を中心にアジングを楽しんでください。
  .explain__img
    = image_tag src="/assets/ajing3.jpg", size: "250x160", alt: "画像が見つかりません", class: "explain__img__photo"
.explain
  .explain__area
    %h4 大型道路沿い
    %p 明るい大型道路沿いも 海面が明るく照らされている ポイントがあります。 砂浜やゴロタ浜は海草やベイトが絡むと 良いポイントになる場合があるので 釣りに慣れている方は 夏場にチェックしておくと 新しい釣り場を開拓できるかもしれません。
  .explain__img
    = image_tag src="/assets/ajing4.jpg", size: "250x160", alt: "画像が見つかりません", class: "explain__img__photo"

