%h1 エギングの基礎知識
.h1img
  = image_tag src= "/assets/eging.jpeg", size: "700x400", alt: "画像が見つかりません", class: "h1img__image"
%h2 エギングとは
%h3 漁具の『餌木』を使う釣りがルアーフィッシングに進化！
.explain
  .explain__area
    %p エギングは、古来からある漁具の『餌木』を進化させ、主にアオリイカを狙うルアー釣りです。岸から簡単な仕掛けで手軽に楽しめ、時季や釣り場によって攻め方が変わる奥の深さが釣り人を夢中にさせます。
    %p また、アオリイカ独特の引き味もエギングの大きな魅力です。
  .explain__img
    = image_tag src= "/assets/eging1.jpg", size: "250x160", alt: "画像が見つかりません", class: "explain__img__photo"
%h2 メインターゲットはアオリイカ 
%h3 日本各地の沿岸に生息し、大型が釣れるのも魅力！
.explain
  .explain__area
    %p エギングは、ケンサキイカやコウイカなど様々なイカが釣れますが、メインターゲットはアオリイカです。
    %p 日本では北海道以南の沿岸に広く分布し、大きいものは胴長50cm、重さ5kgを超える大型のイカで、現在は生息域や生態によりシロイカ、アカイカ、クワイカに分類されています。食味の良い高級イカとしても知られています。
  .explain__img
    = image_tag src= "/assets/eging2.jpg", size: "250x160", alt: "画像が見つかりません", class: "explain__img__photo"

%h2 エギングのシーズン
%h3 年間通して楽しめる。最盛期は春と秋！
.explain
  .explain__eging
    %p エギングは年間通して楽しめますが、最盛期は春と秋です。春は産卵のピークで岸寄りの藻場などに産卵。接岸するアオリイカの数が増え、大型が狙いやすい時季になります。釣り人の間では春に釣れる大型を”春イカ”と呼びます。
    %p 秋は、夏に生まれたイカが成長。型は小さめですが個体数が多い時季で、漁港など身近な釣り場で好奇心旺盛なアオリイカがエギにアタックしてきます。秋に釣れる小型は”秋イカ”や”新子”と呼びます。
.season
  .season__spring
    .season__spring__logo
      %p 春
    %p 産卵のために接岸する大型が狙いやすいシーズン
  .season__summer
    .season__summer__logo
      %p 夏
    %p 春イカ終盤の大型と早生まれの小型イカが混在する時季
  .season__fall
    .season__fall__logo
      %p 秋
    %p 春の産卵のピークで生まれたイカが成長。個体数が多い。
  .season__winter
    .season__winter__logo
      %p 冬
    %p 秋イカが成長して深場へ移動。数は減るが1kg超の良型が出はじめる。

%h2 エギングの釣り場
%h3 堤防で手軽に楽しめる。磯も好ポイントだ！
.explain
  .explain__area
    %h4 漁港
    %p 手軽に海釣りが楽しめる漁港は、エギングでも代表的な釣り場です。漁港は沿岸にある大きな構造物＝変化で、小魚が寄りやすく、それを狙ってアオリイカが接近。年間通してエギングが楽しめます。
  .explain__img
    = image_tag src="/assets/eging3.jpg", size: "250x160", alt: "画像が見つかりません", class: "explain__img__photo"
.explain
  .explain__area
    %h4 磯
    %p アオリイカは、沈み根や海藻など海中の物陰に身を潜めやすく、海底の地形変化に富む磯も釣り場になります。また、アオリイカのエサとなる小魚がいて、海底に沈み根や岩などが点在すれば砂浜でも狙えます。
  .explain__img
    = image_tag src="/assets/eging4.jpg", size: "250x160", alt: "画像が見つかりません", class: "explain__img__photo"

