
.main
  .main__left
    .main__left__text-area
      %p 最新釣果
    .main__left__images-area
      .main__left__images-area__image
        - @posts.each do |post| 
          = link_to image_tag(post.image.thumb.url,size: "160x140", alt: "画像が見つかりません"), post_path(post)
  .main__right
    .main__right__explain
      %p ※このサイトは関西一円の釣果情報を登録ユーザー様の協力の下に一覧できます。
      %p 　ルールを守って節度を保てる様、何卒よろしくお願い致します。
    .main__right__area-search
      = link_to "エリアから釣果を調べる", "#", class: "main__right__area-search__btn"
    .main__right__type-search
      = link_to "魚種から釣果を調べる", "#", class: "main__right__type-search__btn"
    .main__right__link-sns
      .main__right__link-sns__text
        %p Link To Social Networking Service
      .main__right__link-sns__icons
        .main__right__link-sns__icons__twitter
          = link_to "https://twitter.com/", class: "main__right__link-sns__icons__twitter__btn" do
            = icon('fab', 'twitter')
        .main__right__link-sns__icons__instagram
          = link_to "https://www.instagram.com/", class: "main__right__link-sns__icons__instagram__btn" do
            = icon('fab', 'instagram')
        .main__right__link-sns__icons__facebook
          = link_to "https://www.facebook.com/", class: "main__right__link-sns__icons__facebook__btn" do
            = icon('fab', 'facebook-square')
    .main__right__thanks
      %p Thank you very much for browsing.
