.show
  .show__left
    .show__left__image
      = image_tag @post.image.thumb.url, alt: "画像が見つかりません"
  .show__right
    .show__right__person
      %p 釣った人物：
    .show__right__area
      %p 釣った場所：
      = @post.area
    .show__right__rank
      %p 自己満足度：
      = @post.rank
    .show__right__title
      = @post.title
    .show__right__content
      = simple_format @post.content
    .show__right__login
      .show__right__login__edit
        = link_to "編集する", edit_post_path(@post), class: "show__right__login__edit__btn"
      .show__right__login__destroy
        = link_to "削除する", post_path(@post), method: :delete, class: "show__right__login__destroy__btn"