!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FishingInfo
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
  .header
    .header__left-content
      =link_to "Fishing-Info", root_path, class: "header__left-content__btn"
    .header__right-content
      - if user_signed_in?
        .header__right-content__name
          = current_user.nickname
          %span ▼
          %li
            = link_to "マイページ", user_path(current_user), class: "header__right-content__name__mypage"
          %li 
            = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__right-content__name__sign-out"
        .header__right-content__post  
          = link_to "投稿する", new_post_path, class: "header__right-content__post__btn" 
      - else
        .header__right-content__sign-in
          = link_to "ログイン", new_user_session_path, class: "header__right-content__sign-in__btn"
        .header__right-content__sign-up
          = link_to "新規登録", new_user_registration_path, class: "header__right-content__sign-up__btn"
  .sub-header
    = link_to "シーバス", seabass_posts_path, class: "sub-header__parts"
    = link_to "エギング", eging_posts_path, class: "sub-header__parts"
    = link_to "アジング", ajing_posts_path, class: "sub-header__parts"
    = link_to "ショアジギング", shore_jigging_posts_path, class: "sub-header__parts"
    = link_to "ワインド釣法", wind_posts_path, class: "sub-header__parts"
    = link_to "バス釣り", bass_posts_path, class: "sub-header__parts"
    = link_to "結び方（ノット）", "http://www.gosen-f.jp/knot/", target: "_blank", class: "sub-header__parts"
    = link_to "ロッド", "https://www.rere.jp/beginners/34154/", target: "_blank", class: "sub-header__parts"
    = link_to "スピニングリール", "https://tackleoff.com/spinning-reel/", target: "_blank", class: "sub-header__parts"
    = link_to "ベイトリール", "https://tackleoff.com/baitcastind-reel/", target: "_blank",class: "sub-header__parts"
    = link_to "シマノ", "http://fishing.shimano.co.jp/product", target: "_blank",class: "sub-header__parts"
    = link_to "ダイワ", "https://www.daiwa.com/jp/", target: "_blank", class: "sub-header__parts"
    = link_to "がまかつ", "http://www.gamakatsu.co.jp/", target: "_blank", class: "sub-header__parts"
  = yield
